.homeCarousel {
  text-align: left !important;
}

.homeCarouselTitle {
  font-size: 2.9rem;
}
.homeCarouselWatchButton {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
}
